.appContainer {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
}

.main {
  margin: 0 !important;
  // padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  padding-bottom: 60px;
}
